<div class="flex-l flex-wrap relative w-full bg-inherit">
  {{if .Params.images}}
    <div class="hide-child w5 mr3 nt2">
    <img src="{{index (.Params.images) 0}}" class="img" />
      {{with .Params.image_credit}}
        <span class="block f7 child helvetica">{{.}}</span>
      {{end}}
    </div>
  {{end}}

  <div class="mb-3 color-inherit overflow-hidden">
    {{ partial "_components/item-title.html" . }}

    {{if .Date}}
      {{partial "_components/time.html" (dict "context" . "show_time" false)}}
    {{end}}

    {{- partial "_components/item-description.html" . -}}
    {{- partial "_components/link-to-original.html" . -}}

  </div>
</div>
