{{ define "main" }}
  {{ $section := .Site.GetPage "section" .Section }}
  {{ $event := .Pages.ByDate }}
  {{ $events := where $event ".Date.Unix" "ge" now.Unix }}
  {{ $events_past := where $event.Reverse ".Date.Unix" "<" now.Unix }}

  <div class="max-w-md mx-auto px-4 pt-5">
    {{ partial "_components/page-heading.html" $section }}

    <section class="pt-5 min-vh-100">
      {{range $events}}
        <div class="relative w-full mb-8 border-b">
            {{.Render "item"}}
        </div>
      {{ end }}
      {{if $events_past}}
        {{$id := "events"}}
        <div class="mt-8">
          <h2>Past Events</h2>
          {{range $events_past}}
            <div class="relative w-full mb-8 border-b">
                {{.Render "summary"}}
            </div>
          {{ end }}
        </div>
      {{ end }}
    </section>


    {{ template "_internal/pagination.html" . }}
  </div>
{{ end }}
