{{ define "main" }}
<div class="page-list_default mx-auto min-h-screen">
    {{ partial "_components/page-heading.html" . }}

    <section class="pt-5 min-vh-100">
      {{ range partialCached "tnd-events/GetUpcomingEvents" "GetUpcomingEvents" }}
        <div class="relative w-full mb-8 border-b">
          {{ .Render "item" }}
        </div>
      {{ end }}
      {{ with partialCached "tnd-events/GetPastEvents" "GetPastEvents" }}
        {{ $id := "events" }}
        <hr />
        <div class="mt-32">
          <h2>Past Events</h2>
          {{ range . }}
            <div class="relative w-full mb-8 border-b">
                {{ .Render "item" }}
            </div>
          {{ end }}
        </div>
      {{ end }}
    </section>

  </div>
{{ end }}
