{{ define "main" }}
  <main class=" text-on-primary-color w-full">

    <section class="px-4 md:px-4 mx-auto py-4 py-5-l w-80-l">
      {{- partial "books/header.html" . -}}

      <div class="flex-l flex-wrap">
        <div class="float-left lg:pt-4 w-full w-40-l">
          {{- partial "books/cover.html" . -}}
          {{- partial "books/meta-data.html" . -}}
        </div>

        <div class="md:mt-0 mt-4 w-full w-60-l">
          <div class="bb b--black-20 dark-gray measure-wide mv4 nested-copy-line-height">
            {{ .Content }}
          </div>
          {{ partial "books/buylinks.html" (dict "context" . "buyno-underlineClasses" "b--mid-gray text-base no-underline  hover:bg-near-black hover:text-white rounded border px-3 py-2 mr-1 mb-2 block md:inline-block mid-gray" "textcolor" "gray") }}
        </div>
      </div>


    </section>


    <section class="mx-auto pb6 px-4 md:px-4 w-80-l">
      {{- partial "books/praise.html" (dict "count" 100 "context" . ) -}}
    </section>


  </main>
{{ end }}
