
{% for category in site.categories %}
  {% assign category_slug = category[0] | slugify  %}
  <li class="col-12">
    <a href="/category/{{ category_slug }}" class="{{ site.sidebar_item_classes }}">
      {{ category[0] | capitalize | replace: '-', ' ' }}
    </a>
  </li>
{% endfor %}

<h3 class="{{ site.sidebar_item_classes }}">
  Type
</h3>

{% assign tags = site.tags  %}

{% for tag in tags %}
  {% assign tag_slug = tag[0] | slugify  %}
  <li class="col-12">
    <a href="/category/{{ tag_slug }}" class="{{ site.sidebar_item_classes }}">
      {{ tag[0] | capitalize | replace: '-', ' ' }}
    </a>
  </li>
{% endfor %}
