<nav class="clearfix center pt2 px2">
    <a href="/" class="h1 lg-h0 caps font-heading font-weight-heavy text-decoration-none primary-text-color hover-primary-color">
      {{ site.title }}
    </a>


    <div class="clearfix">
      {% for object in site.data.navigation-links %}
       <a class="font-heading text-decoration-none lg-h4 caps lg-inline-block lg-pt2 mx1 hover-accent-color{% if page.url == object.url %} accent-color{% else %} primary-color{% endif %}" href="{{ object.url }}" title="{{ object.title }}">
        {{ object.title | markdownify | remove: '<p>' | remove: '</p>' }}
       </a>
      {% endfor %}
    </div>
</nav>
