{{ with .Params.date }}
  <dl class="my-2 font-sans font-bold text-sm">
    <dt class="inline-block">Publication Date</dt> <dd class="inline-block">{{ .Format "January 2, 2006" }}</dd>
  </dl>
{{ end }}

{{with .Params.editions_isbn }}
  <dl>
    {{range $binding, $isbn := .}}
      {{with $isbn}}
        <div class="mb-1 font-sans text-primary-color text-sm">
          <dt class="f6 inline-block">
            {{- $binding -}}
          </dt>
          <dd class="inline-block">
            {{- . -}}
          </dd>
        </div>
      {{end}}
    {{end}}
  </dl>
{{end}}
