/* Use the site file to define common component classes or to prevent duplicate sets of classes in templates. */

/* BODY */
.font-primary {
    @apply .font-sans;
}

blockquote {
  @apply font-brand;
}
/* --------- Pages -------------- */
.page-list_default, .page-single_default {
  @apply .max-w-xl .px-4 .pt-6;
}

/* --------- Title -------------- */
.site-title {
  @apply font-brand dim text-5xl .font-bold no-underline color-inherit inline-block
}

@screen md {
  .site-title {
    @apply text-4xl;
  }
}
@screen xl {
  .site-title {
    @apply text-5xl;
  }
}

/* --------- NAV -------------- */
nav li {
  @apply .inline-block;
}
nav ul a {
  @apply block color-inherit dim leading-none no-underline pr-3 py-3;
}

@screen md {
nav {
  @apply .ml-8
  }
  nav ul a {
    @apply .pr-8;
  }
}




.list-item {
  @apply .inline-block;

}

/* --------- MISC  -------------- */
.flex-direction {
  /* @apply items-end; */
  @apply items-center
}

.active {
  @apply .text-grey-dark .underline;
}
.body-color {
  @apply bg-white text-grey-darkest;
}

/* COMPONENTS */
.page-heading {
    @apply .text-primary-color .text-5xl .mb-1
}
.page-description {
    @apply .text-base .mb-2 text-2xl .text-grey-dark .mb-8
}

header {
  @apply .text-primary-color .bg-white
}

footer {
  @apply .p-4 .mt-32 .text-sm .text-grey-dark;
}
.sidebar-list {
  @apply .bg-grey-lighter .p-4
}
@screen lg {
  header {
    @apply .fixed .pin-t .pin-l .pin-r .z-50
  }
  .content {
    @apply .mt-32
    }
}


.btn-buylinks {
  @apply .text-xs .font-sans .text-black
}

.btn-buylinks:hover, .btn-buylinks:focus {
  @apply .bg-primary-color .text-white
}
