{{ define "main" }}
  {{$section := .Site.GetPage "section" .Section}}

  <div class="max-w-xl mx-auto px-4 pt-5">
    {{- partial "_components/page-heading.html" . -}}


    <div class="md:flex flex-wrap md:flex-row-reverse mx-auto">
      <aside class="md:w-1/3 md:px-8 pb-8">
          {{- partial "_components/category-tag-listing.html" . -}}
      </aside>

      <section class="md:w-2/3 pt5 min-vh-100">
        {{range .Paginator.Pages}}
          <div class="relative w-full mb-8">
            {{- partial "summary.html" . -}}
          </div>
        {{ end }}
      </section>
    </div>

    {{- template "_internal/pagination.html" . -}}
  </div>
{{ end }}
