---
layout: listing-base
sidebar: events/list-past-events.html
sidebar_title: Recent Events
---
{% include events/filter-events-upcoming.html %}
{% if events_upcoming.size > 0 %}
  {% for object in events_upcoming  %}
    {% assign date = object.start_at %}
    {% include posts.html %}
  {% endfor %}
{% else %}
<div class="h3 p3">
    No Upcoming Events
</div>

{% endif %}






{% comment %}
  <!--
    {% assign todays_date = site.time | date: "%Y%m%d"  %}
    {% assign events_upcoming = site.events | where_exp: 'item', 'item.start_at > todays_date' %}
    {% assign events_upcoming = events_upcoming | sort: 'start_at', 'last' %}
    {% assign events_past = site.events | where_exp: 'item', 'item.start_at < todays_date' %}
    {% assign events_past = events_upcoming | sort: 'start_at', 'last' | reverse %}
  -->
{% endcomment %}
