/* josefin-sans-100normal - latin */
@font-face {
  font-family: 'Josefin Sans';
  font-style: normal;
  font-display: swap;
  font-weight: 100;
  src:
    local('Josefin Sans Thin '),
    local('Josefin Sans-Thin'),
    url(/fonts/josefin-sans-latin-100a8638c8ff48035224b27391d1d1fa14a.woff2) format('woff2'), 
    url(/fonts/josefin-sans-latin-1004b40bd93126d9a348b15722d39e62c1f.woff) format('woff'); /* Modern Browsers */
}

/* josefin-sans-100italic - latin */
@font-face {
  font-family: 'Josefin Sans';
  font-style: italic;
  font-display: swap;
  font-weight: 100;
  src:
    local('Josefin Sans Thin italic'),
    local('Josefin Sans-Thinitalic'),
    url(/fonts/josefin-sans-latin-100italic6e5beced2a212daf6155835f5bf99b0d.woff2) format('woff2'), 
    url(/fonts/josefin-sans-latin-100italic017e52ddc51eab0b3ef3f796ec195da2.woff) format('woff'); /* Modern Browsers */
}

/* josefin-sans-300normal - latin */
@font-face {
  font-family: 'Josefin Sans';
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src:
    local('Josefin Sans Light '),
    local('Josefin Sans-Light'),
    url(/fonts/josefin-sans-latin-300a7a6275f943df67b111996209c4767a3.woff2) format('woff2'), 
    url(/fonts/josefin-sans-latin-3004393ca913f37b4ad826e5c6fb4d6ed1e.woff) format('woff'); /* Modern Browsers */
}

/* josefin-sans-300italic - latin */
@font-face {
  font-family: 'Josefin Sans';
  font-style: italic;
  font-display: swap;
  font-weight: 300;
  src:
    local('Josefin Sans Light italic'),
    local('Josefin Sans-Lightitalic'),
    url(/fonts/josefin-sans-latin-300italicdc08d67ea25cd328d96cd4ea814dbbe3.woff2) format('woff2'), 
    url(/fonts/josefin-sans-latin-300italic393fb416afdb272dc71fca4a5e26a61b.woff) format('woff'); /* Modern Browsers */
}

/* josefin-sans-400normal - latin */
@font-face {
  font-family: 'Josefin Sans';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Josefin Sans Regular '),
    local('Josefin Sans-Regular'),
    url(/fonts/josefin-sans-latin-400a80a033f0cf0b8186287fa277c334efb.woff2) format('woff2'), 
    url(/fonts/josefin-sans-latin-4006537892df3329ee8024ec1bd09ca6122.woff) format('woff'); /* Modern Browsers */
}

/* josefin-sans-400italic - latin */
@font-face {
  font-family: 'Josefin Sans';
  font-style: italic;
  font-display: swap;
  font-weight: 400;
  src:
    local('Josefin Sans Regular italic'),
    local('Josefin Sans-Regularitalic'),
    url(/fonts/josefin-sans-latin-400italic03176f6f2001235d00339c763f7b93d0.woff2) format('woff2'), 
    url(/fonts/josefin-sans-latin-400italic475261813adba6463f0ffdb67ca90755.woff) format('woff'); /* Modern Browsers */
}

/* josefin-sans-600normal - latin */
@font-face {
  font-family: 'Josefin Sans';
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src:
    local('Josefin Sans SemiBold '),
    local('Josefin Sans-SemiBold'),
    url(/fonts/josefin-sans-latin-600035e3844f86fd3c8ad364429d0c9dc17.woff2) format('woff2'), 
    url(/fonts/josefin-sans-latin-600c3dd9b0cc353d26e80f3c2e4477d01d9.woff) format('woff'); /* Modern Browsers */
}

/* josefin-sans-600italic - latin */
@font-face {
  font-family: 'Josefin Sans';
  font-style: italic;
  font-display: swap;
  font-weight: 600;
  src:
    local('Josefin Sans SemiBold italic'),
    local('Josefin Sans-SemiBolditalic'),
    url(/fonts/josefin-sans-latin-600italica45b63bc9d2273ef3b67a7ebb0583916.woff2) format('woff2'), 
    url(/fonts/josefin-sans-latin-600italic73a94738700e107531e0cea5c40b4014.woff) format('woff'); /* Modern Browsers */
}

/* josefin-sans-700normal - latin */
@font-face {
  font-family: 'Josefin Sans';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    local('Josefin Sans Bold '),
    local('Josefin Sans-Bold'),
    url(/fonts/josefin-sans-latin-700ed780de1b24634dbc7490a9caff2e35d.woff2) format('woff2'), 
    url(/fonts/josefin-sans-latin-700816542f10b7e97e5deb159c1aec84976.woff) format('woff'); /* Modern Browsers */
}

/* josefin-sans-700italic - latin */
@font-face {
  font-family: 'Josefin Sans';
  font-style: italic;
  font-display: swap;
  font-weight: 700;
  src:
    local('Josefin Sans Bold italic'),
    local('Josefin Sans-Bolditalic'),
    url(/fonts/josefin-sans-latin-700italic052635dce76754ce05c0a2473edf9d59.woff2) format('woff2'), 
    url(/fonts/josefin-sans-latin-700italic2c7a8aa0ca92fbfac79d12b811092b04.woff) format('woff'); /* Modern Browsers */
}


