<article class="h-entry mx-auto max-w-3xl py-2 lg:pt-5 px-4">
  {{- partial "_components/page-heading.html" . -}}

  <section class="nested-copy-line-height leading-normal text-xl nested-no-underlines nested-imgTK mid-gray">

  {{ if (or (eq .Section "article") (eq .Section "event")) }}
    {{ if .Date }}
      {{ partial "_components/time.html" (dict "context" . "show_time" false) }}
    {{ end }}
  {{ end }}

    {{partial "_components/image-article.html" .}}
    {{/* {{partial "_components/description.html" .}} */}}

    {{ .Content }}
    {{ partial "tnd-events/view/venue" . }}

    {{partial "_components/link-to-original.html" (dict "item" .)}}

    {{ if and (ge .Date now) (eq .Type "event") }}
    <div class="float-right w-32 my-4 pb-2 text-xs">
      {{ partial "tnd-events/view/addtocal" . }}
    </div>
    {{ end }}
  </section>
</article>