{% if object.reviews  %}
  {% assign reviews = object.reviews %}
  {% assign book_title = object.title  %}
{% else %}
  {% assign reviews = page.reviews %}
  {% assign book_title = page.title  %}
{% endif %}
{% assign limit = include.limit %}

{% if reviews %}<h2 style="margin-top:2em;">Praise for <em>{{ book_title }}</em></h2>{% endif %}

{% for review in reviews limit:limit %}
  {% if review.copy_markdown  %}
    <blockquote class="quoted h2">
      {{ review.copy_markdown | markdownify }}
    </blockquote>
  {% endif %}
  {% if review.attribution %}
    <div class="h4 mb4 mt0 ml3">
      – {{ review.attribution | markdownify | remove: '<p>' | remove: '</p>' }}
    </div>
  {% endif %}
{% endfor %}
