/*
.h-entry blockquote {
  margin-left: 2rem;
  padding-left: 1rem;
  border-left: 2px solid #ddd;
}*/
blockquote.quoted p {
  display: inline;
  margin-top: 0;
  margin-bottom: 0;
}
blockquote.quoted p{
  text-indent: -12px;
}

blockquote.quoted p::before {
  content: "“";
  font-size:1.5rem;
  margin-top:4px;
  color:#555;
  margin-left: -12px;
}
blockquote.quoted p::after{
  content: "”";
  color:#555;
  /*font-size:1.375rem;*/
}

.h-entry blockquote {
  border-left: 3px solid #ddd;
  padding-left: 1em;
}
